{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wacky Widgets</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Wacky Widget</h1>
    {% if widget_list|length == 0 %} {% for widget in widgets %}
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Quality</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{widget.description}}</td>
          <td><a href="">x</a></td>
        </tr>
        <tr>
          <td>{{widget.quality}}</td>
          <td><a href="">x</a></td>
        </tr>
      </tbody>
    </table>
    {% endfor %} {% else %}
    <h3>No Widgets Exist</h3>

    {% endif %}

    <hr />
    <h3>Add Widget</h3>
    <form action="" method="post">
      {% csrf_token %} {{ widget_form.as_p }}
      <input type="submit" class="btn" value="ADD WIDGET" />
    </form>
  </body>
</html>
